/*-------Global styles--------*/

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Lato', serif;
    color: #777;
}

h1, h2, h3, body {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    text-transform: uppercase;
}

.container {
    max-width: 1200px;
    align-content: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.bg-img-1 {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img-1 {
    background-image: url("/images/mycode.png");
    min-height: 100%;

}
.intro {
    background-color: #ffc107;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: solid #ffc107 3px;
}

.btn {
    margin-top: 1em;
}

.btn a {
    text-decoration: none;
    color: black;
}

#download {
    border: none;
    background: none;
}

.download:hover, .download:focus {
    background-color: #111;
    color: #ffc107;
}

.col {
    position: relative;
    align-items: center;
    margin-bottom: 0;
}

i {
    padding-right: 10px;
    padding-left: 10px;
}

.image-container {
    position: relative;
    margin-top: 1.5em;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(33, 34, 34);
}

.image-container:hover .overlay {
    opacity: 1;
    border: solid 5px #ffc107;
}

.hover-text {
    color: white;
    font-size: 1.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  @media only screen and (min-width: 600px) {
      #footer {
        position: flex;
        flex-wrap: wrap;
        padding-top: 1em; 
        padding-right: 20%;
        padding-left: 20%;
        padding-bottom: 4em;
        width: 100%;
        border-top: solid #ffc107 3px;
      }

      #intro {
        position: flex;
        flex-wrap: wrap;
        padding: 1em 3em;
        width: 100%;
      }
  }
 
  